<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AppLeo{% endblock %}</title>
    <!-- Carga la ruta a tus archivos estáticos -->
    {% load staticfiles %}
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'resources/style.css' %}"/>-->
    <!--&lt;!&ndash;General CSS&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'resources/js/modules/bootstrap/css/bootstrap.min.css' %}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'resources/js/modules/fontawesome/css/all.min.css' %}"/>-->
    <!--&lt;!&ndash;CSS&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'resources/js/modules/jqvmap/dist/jqvmap.min.css' %}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'resources/js/modules/summernote/summernote-bs4.css' %}"/>-->
    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="{% static 'resources/js/modules/owlcarousel2/dist/assets/owl.carousel.min.css' %}"/>-->
    <!--<link rel="stylesheet" type="text/css"-->
          <!--href="{% static 'resources/js/modules/owlcarousel2/dist/assets/owl.theme.default.min.css' %}"/>-->
    <!--&lt;!&ndash;Template CSS&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}"/>-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'resources/css/components.css' %}"/>-->



    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>-->
    <!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <script src="{% static 'resources/js/modules/jquery.min.js' %}"></script>
    <script src="{% static 'resources/js/echarts.min.js' %}"></script>
    <script src="{% static 'resources/js/moment.min.js' %}"></script>

    <script src="{% static 'resources/js/main.js' %}"></script>


    <!-- Jean Front-End-->

    <link rel="stylesheet" href="{% static 'resources/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'resources/assets/fonts/fontawesome-all.min.css' %}">

</head>
<!--<body>-->

<!--<nav class="navbar navbar-expand-lg main-navbar">-->
    <!--<ul class="navbar-nav mr-3">-->
        <!--<li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg" style=""><i class="fas fa-bars"></i></a>-->
        <!--</li>-->
        <!--<li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i-->
                <!--class="fas fa-search"></i></a></li>-->
    <!--</ul>-->

<!--</nav>-->


<body id="page-top">
<!--Side bar-->
<div id="wrapper">
    <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
        <div class="container-fluid d-flex flex-column p-3">
            <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-text mx-3"><a href="{% url 'resources:index' %}">App Leo</a></div>
            </a>

            <!--<hr class="sidebar-divider my-0">-->
            <ul class="nav navbar-nav text-light" id="accordionSidebar">
                <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'resources:index' %}"><i class="fas fa-home"></i> <span>Inicio</span></a></li>

                <li class="menu-header">Evaluaciones</li>
                <li class="{% if "/evaluacion/add" in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'resources:realizar-evaluacion' %}">
                <i class="fas fa-file-signature "></i> <span>Realizar evaluación</span></a></li>

                <li class="menu-header">Lecturas</li>
                <li class="{% if "lectura/add" in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'resources:lectura-add' %}">
                <i class="fas fa-file-archive "></i> <span>Cargar Lectura</span></a></li>

                <li class="{% if "/listado/lecturas" in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'resources:listado-lecturas' %}">
                    <i class="fas fa-file "></i> <span>Listado Lecturas</span></a>
                </li>

                <li class="menu-header">Reportes</li>
                <li class="{% if "/reportes" in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'resources:reportes' %}">
                    <i class="fas fa-file-signature "></i> <span>Reportes</span></a>
                </li>

                <li class="{% if "/listado/estudiantes" in request.path %}active{% endif %}">
                <a class="nav-link" href="{% url 'resources:listado-estudiantes' %}">
                    <i class="fas fa-users "></i> <span>Listado estudiantes</span></a>
                </li>

            </ul>
            <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
        </div>

        <!--Nav bar-->
    </nav>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                    <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" role="search" method="get" action="{% url 'resources:estudiante-buscar' %}">
                        <div class="input-group">
                            <input type="text" class="bg-light form-control border-0 small" id="q" aria-controls="dataTable" placeholder="Buscar" name="nombres" required>
                            <div class="input-group-append"><button class="btn btn-primary py-0" type="submit"><i class="fas fa-search"></i></button></div>

                        </div>

                        <script>
                            $(document).ready(function(){

                                $("#q").on('change', function () {

                                    buscar();
                                })

                            });


                            function buscar() {

                                $.ajax({
                                    type: 'POST',
                                    data: $('#form').serialize(),
                                    url: "/estudiante/busqueda",
                                    success: function (res) {

                                        console.log(res);

                                    }

                                });


                            }
                        </script>
                    </form>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">
                        <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                            <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto navbar-search w-100">
                                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                        <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        </li>


                        <div class="d-none d-sm-block topbar-divider"></div>
                        <li class="nav-item dropdown no-arrow" role="presentation">
                            {% if user.is_authenticated %}
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Hola, {{ user.first_name }}</span><img class="border rounded-circle img-profile" src="{% static 'resources/assets/img/avatars/profe2.png' %}"></a></div>
                            {% else %}
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Regístrese o inicie sesión si desea</span><img class="border rounded-circle img-profile" src="{% static 'resources/assets/img/avatars/profe2.png' %}"></a></div>
                             {% endif %}
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="{% url 'resources:logout' %}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Cerrar sesi&oacute;n</a></div>
                        </li>


                    </ul>
                </div>
            </nav>
            {% block body %}
            {% endblock %}

            <!--<div class="container-fluid">-->
                <!--<div class="card shadow">-->
                    <!--<div class="card-header py-3">-->
                        <!--<p class="text-primary m-0 font-weight-bold">Inicio</p>-->
                    <!--</div>-->

                    <!--<div class="card-body">-->

                    <!--</div>-->


                <!--</div>-->
            <!--</div>-->
        </div>


    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>


<footer class="bg-white sticky-footer">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © APP LEO 2020</span></div>
    </div>
</footer>



<!-- jean Frontend -->
<script src="{% static 'resources/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'resources/assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'resources/assets/js/chart.min.js' %}"></script>
<script src="{% static 'resources/assets/js/bs-init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="{% static 'resources/assets/js/theme.js' %}"></script>


<script src="{% static 'resources/js/modules/popper.js' %}"></script>
<script src="{% static 'resources/js/modules/tooltip.js' %}"></script>
<script src="{% static 'resources/js/modules/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'resources/js/modules/nicescroll/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'resources/js/modules/moment.min.js' %}"></script>
<script src="{% static 'resources/js/stisla.js' %}"></script>
<script src="{% static 'resources/js/modules/summernote/summernote-bs4.js' %}"></script>
<script src="{% static 'resources/js/modules/chocolat/dist/js/jquery.chocolat.min.js' %}"></script>
<script src="{% static 'resources/js/page/index.js' %}"></script>
<script src="{% static 'resources/js/scripts.js' %}"></script>
<script src="{% static 'resources/js/custom.js' %}"></script>



</body>

</html>