{% extends 'resources/base.html' %}
{% block estudiantes_active %}active{% endblock %}

{% block body %}
<div class="col-sm-4 col-lg-2">
    <div class="thumbnail">
        <img src="#" class="img-responsive">
        </a>
        <div class="caption">
            {% for item in estudiante %}
            <h2>{{ item }}</h2>
            {% endfor %}
            <!-- Ver Detalles -->
            <a href="#" class="btn btn-primary btn-sm" role="button">Ver Detalles</a>
        </div>
    </div>
</div>
{% endblock %}