{% extends 'resources/base.html' %}
{% block title %}Realizar Evaluación{% endblock %}
{% block estudiantes_active %}active{% endblock %}
<!-- Toma en cuenta esto de estudiantes_active, puede que tengas que cambiarlo por evaluaciones -->

<!--
{% block head %} -->
<!-- <head> -->
<!--    {% load staticfiles %}
    <meta charset="UTF-8">

    <title>Realizar Evaluación</title>
    <link rel="stylesheet" href="{% static 'resources/style.css' %}"> -->
    <!--   <script src="{% static "c1/jquery-3.1.0.min.js" %}"></script>  -->
 <!--   <script src="{% static 'resources/appleo1/ux.js' %}"></script> -->

<!-- </head> -->
<!-- {% endblock %} -->

{% block body %}
<div class="container-fluid">
    <div class="row">

        <div class="col-sm-12 col-md-14">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'resources/form-template-evaluar.html' %}
                        <h1>Evaluacion de la Lectura</h1>
                     <!--  texto_leer:<input type="text" id="inputTX" value="María conoce un niño con muy mal carácter en su escuela"><br> -->
                        <!--  **  <input type="submit" id=btn1 value="Evaluar"><br>
                        Resultado:<input type="text" id="outputR" value=""><br>

                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-15">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </div>  ** -->

                        <head>
                            <meta charset="utf-8">
                            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                            <title></title>
                            <link rel="stylesheet" href="">
                            <script src="{% static 'resources/artyom/jquery-3.1.1.js' %}"></script>
                            <script src="{% static 'resources/artyom/artyom.min.js' %}"></script>
                            <script src="{% static 'resources/artyom/artyomCommands.js' %}"></script>
                       <!--     <script src="jquery-3.1.1.js"></script>
                            <script src="artyom.min.js"></script>
                            <script src="artyomCommands.js"></script>   -->

                            <style>
                                .contenedor{
                                    width: 60%;
                                    margin-left: auto;
                                    margin-right: auto;
                                }
                            </style>
                        </head>
                        <body>

                        <div class="contenedor">

                            <!-- botonera -->
                            <div style="float: left;padding: 20px;">
                                <input type="button" onclick="startArtyom();carga();" value="Escuchar">
                                <input type="button" onclick="stopArtyom();detenerse();" value="Detener">
                                <input id="salida" style="width: 400px;" />

                            </div>

                            <body >
                            <p>
                                <span id="segundos">0</span>
                            </p>
                            </body>

                            <br><br><br>


                            <div style="padding: 20px;">
                                <label for="leer">Escribe un texto para leerlo</label>
                                <textarea id="leer" rows="4" cols="100"></textarea>
                                <input type="button" id="btnLeer" value="Leer">
                            </div>

                        </div>


                        <script>

                            // $(document).ready(function() {

                            var cronometro;

                            //Funcion para detener cronometro. 
                            function detenerse() {
                                clearInterval(cronometro);
                            }
                            
                            //Funcion para iniciar el cronometro en segundos.
                            function carga()
                            {
                                contador_s =0;
                                s = document.getElementById("segundos");

                                cronometro = setInterval(
                                    function(){
                                        s.innerHTML = contador_s;
                                        contador_s++;

                                    }
                                    ,1000);

                            }

                            // Escribir lo que escucha.
                            artyom.redirectRecognizedTextOutput(function(text,isFinal){
                                var texto = $('#salida');
                                if (isFinal) {
                                    texto.val(text);
                                }else{

                                }
                            });


                            //inicializamos la libreria Artyom
                            function startArtyom(){
                                artyom.initialize({
                                    lang: "es-ES",
                                    continuous:true,// Reconoce 1 solo comando y para de escuchar
                                    listen:true, // Iniciar !
                                    debug:true, // Muestra un informe en la consola
                                    speed:1 // Habla normalmente
                                });
                            };

                            // Stop libreria;
                            function stopArtyom(){
                                artyom.fatality();// Detener cualquier instancia previa
                            };

                            // leer texto
                            $('#btnLeer').click(function (e) {
                                e.preventDefault();
                                var btn = $('#btnLeer');
                                if (artyom.speechSupported()) {
                                    btn.addClass('disabled');
                                    btn.attr('disabled', 'disabled');

                                    var text = $('#leer').val();
                                    if (text) {
                                        var lines = $("#leer").val().split("\n").filter(function (e) {
                                            return e
                                        });
                                        var totalLines = lines.length - 1;

                                        for (var c = 0; c < lines.length; c++) {
                                            var line = lines[c];
                                            if (totalLines == c) {
                                                artyom.say(line, {
                                                    onEnd: function () {
                                                        btn.removeAttr('disabled');
                                                        btn.removeClass('disabled');
                                                    }
                                                });
                                            } else {
                                                artyom.say(line);
                                            }
                                        }
                                    }
                                } else {
                                    alert("Tu navegador no puede hablar!");
                                }
                            });

                            // });
                        </script>
                        </body>


                    </form>


                </div>

            </div>
        </div>
    </div>

</div>

{% endblock %}