<div class="form-group row">
    <label for="id_texto_a_leer" class="col-sm-3 col-form-label">Texo a leer</label>
    <div class="col-sm-9">

        <textarea id="id_texto_a_leer"
{#                  placeholder="{{ id_texto_a_leer.default }}"#}
                  name="texto_a_leer"
                  class="form-control" style="width: 320px; height: 220px;"></textarea>

    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-20">
        <span class="text-danger small">{{ field.errors }}</span>
    </div>
    <label class="control-label col-sm-5">{{ field.label_tag }}</label>

    <div class="col-sm-9">{{ form.estudiante }}</div>
</div>

<div class="col-sm-9">{{ form.es_favorito }}</div>
<div class="col-sm-9">{{ form.evaluacion_tipo }}</div>
<div class="col-sm-9">{{ form.fluidez_lectora }}</div>
<div class="col-sm-9">{{ form.tipo_lectura }}</div>
<div class="col-sm-9">{{ form.comentario }}</div>
