{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/style.css' %}"/>

<div class="form-group row">
    <label for="id_texto_a_leer" class="col-sm-3 col-form-label">Texo a leer</label>
    <div class="col-sm-9">
        <textarea id="id_texto_a_leer" name="texto_a_leer"></textarea>

        <!--<textarea id="id_texto_a_leer" placeholder="El mejor nadador, es el pez.-->
        <!--Quien más se ríe, la hiena.-->
        <!--Cuellilargo, la jirafa.-->
        <!--Gordisima, la ballena.-->

        <!--Gigantesco, el elefante.-->
        <!--Elegante, la gacela.-->
        <!--El más malo, el tiburon.-->
        <!--La más negra, la pantera.-->

        <!--Pequeñísima, la pulga.-->
        <!--El más charlatán, el loro.-->
        <!--Sucia y muy fea, la rata.-->
        <!--El más divertido, el mono.-->

        <!--La más rayada, la cebra.-->
        <!--El que más pica, el mosquito.-->
        <!--El más dormilon, el oso.-->
        <!--El más suave, el conejito.-->

        <!--El más sabiondo, el buho.-->
        <!--La que más trabajaba, la hormiga.-->
        <!--El más silencioso, el gato.-->
        <!--El más electrico, el aguila.-->
        <!--" name="texto_a_leer"></textarea>-->


    </div>

    <br><br><br><br><br><br><br>
    <label for="id_estudiante" class="col-sm-3 col-form-label">Estudiante: </label>
    <div class="col-sm-9">{{ form.estudiante }}</div>

    <br><br>
    <label for="id_es_favorito" class="col-sm-3 col-form-label">Es favorito ? </label>
    <div class="col-sm-9">{{ form.es_favorito }}</div>

    <br><br>
    <label for="id_evaluacion_tipo" class="col-sm-3 col-form-label">Evaluación tipo: </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="evaluacion_tipo"
               id="id_evaluacion_tipo"
               placeholder="Tipo de evaluación">
    </div>

    <br><br><br>
    <label for="id_fluidez_lectora" class="col-sm-3 col-form-label">Fluidez lectora: (ud.PPM) </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="fluidez_lectora"
               id="id_fluidez_lectora"
               placeholder="Cantidad de Palabras Por Minuto (PPM)">
    </div>

    <br><br>
    <label for="id_tipo_lectura" class="col-sm-3 col-form-label">Tipo lectura: </label>
    <div class="col-sm-9">
        <input type="text" class="form-control" name="tipo_lectura"
               id="id_tipo_lectura"
               placeholder="Tipo de lectura">
    </div>

    <br><br><br><br>
    <label for="id_comentario" class="col-sm-3 col-form-label">Comentario</label>
    <div class="col-sm-9">
        <textarea id="id_comentario" name="comentario"></textarea>
    </div>

    <br><br>
    <label for="id_fecha" class="col-sm-3 col-form-label">Fecha</label>
    <div class="col-sm-9">
        <input id="id_fecha" name="fecha" type="date">
    </div>

</div>

<div class="form-group">
    <div class="col-sm-offset-3 col-sm-20">
        <span class="text-danger small">{{ field.errors }}</span>
    </div>
    <label class="control-label col-sm-5">{{ field.label_tag }}</label>
</div>