{% extends 'resources/base.html' %}

{% block body %}
    {% if all_evaluaciones %}
        <h3>Aqui estan todas las Evaluaciones:</h3>
        <ul>
            {% for evaluacion in all_evaluaciones %}
            <!-- Puedes probar con 'detalles' y con evaluacion.id-->
            <li><a href="{% url 'resources:detalles' evaluacion.evaluacion_id %}">{{ evaluacion.evaluacion_tipo }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No tienes evaluaciones registradas</h3>
    {% endif %}
{% endblock %}
