<!-- Carga la ruta a tus archivos estáticos -->
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'resources/style.css' %}" />

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'index' %}">AppLeo</a>
        </div>

    </div>
</nav>

{% if all_evaluaciones %}
    <h3>Aquí estan todas las Evaluaciones:</h3>
    <ul>
        {% for evaluacion in all_evaluaciones %}
        <li><a href="{% url 'resources:detalles' evaluacion.evaluacion_id %}">{{ evaluacion.evaluacion_tipo }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3>No tienes evaluaciones registradas</h3>
{% endif %}
