<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}AppLeo{% endblock %}</title>
    <!-- Carga la ruta a tus archivos estáticos -->
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'resources/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{% static 'resources/js/main.js' %}"></script>
</head>
{#<body>#}
{#<nav class="navbar navbar-inverse">#}
{#    <div class="container-fluid">#}
{##}
{#        <!-- Header -->#}
{#        <div class="navbar-header">#}
{#            <a class="navbar-brand" href="#">AppLeo</a>#}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#</nav>#}
{##}
{#<div class='col-sm-6 col-sm-offset-3'>#}
{#    <h1>Registro de Profesores</h1>#}
{#    <hr/>#}
{##}
{#    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}#}
{##}
{#        {% include 'resources/form-template.html' %}#}
{#        <button type="submit" class="btn btn-default">Registrar</button>#}
{##}
{#    </form>#}
{#</div>#}
{##}
{#</body>#}


{% block body_block %}
    <div class="container">
        <div class="jumbotron">
            {% if registered %}
                <h1>¡Gracias por registrarte!</h1>
            {% else %}
                <h1>Registrar aquí</h1>
                <h3>Sólo tienes que rellenar el formulario.</h3>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profesor_form.as_p }}
                    <input type="submit" name="" value="Register">
                </form>

            {% endif %}
        </div>
    </div>
{% endblock %}


</html>


