<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>

        {% extends 'resources/base.html' %}
        {% block estudiantes_active %}active{% endblock %}

        {% block body %}

        <div style="padding-left: 2cm" class="main-content">
            <section class="section">
                <div class="section-header">
                    <h1>Reportes</h1>
                </div>
                <div class="section-body">
                    <div class="row">
                        <div id="categorias" style="width:100%;height: 400px;"></div>
                    </div>
                </div>

            </section>

            <!--<div class="col-lg-3 col-md-6 col-sm-6 col-12">-->

            <!--</div>-->

        </div>


        <script>

            var categorias;
            $(document).ready(function () {
                $.ajax({
                    type: 'GET',
                    url: "/evaluaciones/",
                    success: function (response, textStatus) {
                        var ejeY = [], ejeX = [], leyenda = [], series = [];

                        response.forEach(function (uno) {

                            var serieActual = series.find(x => x.name === uno['tipo_lectura']);
                            var milliseconds = new Date(uno['fecha']).getTime();
                            var fluidez = parseInt(uno['fluidez_lectora']);
                            if (serieActual !== undefined) {

                                serieActual.data.push([milliseconds, fluidez]);
                            } else {

                                series.push({
                                    // estudiante: uno['estudiante']['nombres'],
                                    // estudiante_id: uno['estudiante']['id'],
                                    type: 'bar',
                                    // barGap:'0%',
                                    // barWidth: '100%',
                                    // barCategoryGap: '-10%',

                                    name: uno['tipo_lectura'],
                                    data: [[milliseconds, fluidez]]
                                });
                            }

                            if(!leyenda.includes(uno['tipo_lectura'])){
                                leyenda.push(uno['tipo_lectura']);
                            }

                            ejeY.push(fluidez);
                            console.log(milliseconds);
                            if(!ejeX.includes(milliseconds)) {
                                ejeX.push(milliseconds);
                            }
                        });
                        console.log('hora actual', moment());
                        console.log(series, 'leyenda', leyenda);
                        console.log(ejeX);


                        crearGraficoCategorias(series, ejeX, ejeY, leyenda);
                    }
                });
                window.addEventListener('resize', function (event) {
                    categorias.resize();
                });
            });

            function transformSeries(series) {
                return [];
            }

            function crearGraficoCategorias(data, ejeX, ejeY, leyenda) {
                var option = {
                    title: {
                        text: 'Evaluaciones'
                    },
                    legend: {
                        data: leyenda
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow',
                            animation: false
                        },
                        // formatter: function (params) {
                        //     var colorSpan = color => '<span style="display:inline-block;margin-right:5px;border-radius:10px;width:9px;height:9px;background-color:' + color + '"></span>';
                        //     var rez = '<p>' + moment(params[0].axisValue).format('MM - DD - YYYY') + '</p>';
                        //     //console.log(params); //quite useful for debug
                        //     params.forEach(item => {
                        //         // console.log(item); //quite useful for debug
                        //         let xx = colorSpan(item.color) + ' ' + item.seriesName + ': ' + item.value[1] + '<br> Operador: ' + item.value[2] + '<br> Turno: ' + item.value[3];
                        //     rez += xx;
                        // });
                        //
                        //     return rez;
                        //
                        // }
                        // axisPointer: {
                        //     type: 'cross',
                        //     animation: false,
                        //     label: {
                        //         backgroundColor: '#505765'
                        //     }
                        // }
                    },

                    xAxis: {
                        type: 'time',
                        name: 'Día',
                        // nameLocation: 'center',
                        // axisLabel: {
                        //     formatter: function (value) {
                        //         return echarts.format.formatTime('yyyy-MM-dd', value);
                        //         // And other formatter tool (e.g. moment) can be used here.
                        //     }
                        // },
                        data: ejeX


                    },
                    yAxis:
                        {
                            type: 'value',
                            boundaryGap: [0, '100%'],


                        }
                    ,
                    series: data
                };
                categorias = echarts.init(document.getElementById("categorias"));
                categorias.setOption(option);
            }
        </script>


        {% endblock %}
    </div>


</div>

